*{
    padding: 0;
    margin: 0;
}

.geralServiços{
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);

    display: flex;
    flex-direction: row;

    background-color:#FFD0D6;

    justify-content: flex-start;
    align-items: center;
}

.retanguloServicos{
    width: calc(25vw - 0px);
    height: calc(70vh - 0px);

    display: flex;
    flex-direction: column;

    background-color:#7DCDE7;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-left: 100px;
    justify-content: center;
    align-items: center;
}

.retanguloServicos span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.servicosRowUm{
    width: 100%;
    height: calc(6vh - 0px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}
.servicosRowUm input{
    width: calc(10vw - 0px);
    height: calc(6vh - 0px);
    background-color:lightyellow;
    border-radius: 10px;
    border-style: none;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.banho{
    margin-left: 20px;
}

.corte{
    margin-right: 20px;
}

.servicosRowDois{
    width: 100%;
    height: calc(6vh - 0px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.servicosRowDois input{
    width: calc(10vw - 0px);
    height: calc(6vh - 0px);
    background-color:lightyellow;
    border-radius: 10px;
    border-style: none;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.unha{
    margin-left: 20px;
}

.vacina{
    margin-right: 20px;
}

.servicosRowTres{
    width: 100%;
    height: calc(6vh - 0px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.servicosRowTres input{
    width: calc(10vw - 0px);
    height: calc(6vh - 0px);
    background-color:lightyellow;
    border-radius: 10px;
    border-style: none;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.castrar{
    margin-left: 20px;
}

.adestrar{
    margin-right: 20px;
}

.botaoServicos{
    width: calc(22vw - 0px);
    height: calc(6vh - 0px);

    display: flex;

    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    justify-content: center;
    align-items: center;
    margin-top: 350px;
    position: fixed;
}

.botaoServicos input{
    width: calc(22vw - 0px);
    height: calc(6vh - 0px);
    border-style: none;
    border-radius:10px;
    background-color: lightgreen;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.retanguloLista{
    width: calc(25vw - 0px);
    height: calc(70vh - 0px);

    display: flex;
    flex-direction: column;

    background-color:#7DCDE7;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.retanguloLista span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 10px;
}

.item{
    width: calc(10vw - 0px);
    height: calc(6vh - 0px);

    background-color:lightyellow;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-style: none;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;

    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.botaoLista{
    width: calc(22vw - 0px);
    height: calc(6vh - 0px);

    display: flex;

    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.botaoLista input{
    width: calc(22vw - 0px);
    height: calc(6vh - 0px);
    border-style: none;
    border-radius:10px;
    background-color: lightgreen;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}