*{
    padding: 0;
    margin: 0;
}
.geralMenu{ 
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);

    display: flex;
    flex-direction: column;

    background-color:#F4F1F3;

    justify-content: center;
    align-items: flex-start;
}

.retanguloCadastro{
    width: calc(25vw - 0px);
    height: calc(90vh - 0px);

    display: flex;
    flex-direction: column;

    background-color:#a167a5;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-left: 100px;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

.cachorroDoisImagem{
    width: 60vw;
    height:100vh;

    position: fixed;
    margin-top: 0px;
    margin-left: 500px;
    z-index: 1;
}


.tipo{
    width: 100%;
    height: calc(6vh - 0px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tipo input{
    width: calc(10vw - 0px);
    height: calc(6vh - 0px);
    background-color:lightyellow;
    border-radius: 10px;
    border-style: none;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.cachorro{
    margin-left: 20px;
}

.gato{
    margin-right: 20px;
}

.raca{
    width: calc(19vw - 0px);
    height: calc(8vh - 0px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
    
}
.raca input{
    width: calc(21vw - 0px);
    height: calc(5vh - 0px);
    border-style:none;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    padding-left: 10px;
}

.raca span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.idade{
    width: calc(20vw - 0px);
    height: calc(8vh - 0px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
    
}
.idade input{
    width: calc(21vw - 0px);
    height: calc(5vh - 0px);
    border-style:none;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    padding-left: 10px;
}

.idade span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.genero{
    width: 100%;
    height: calc(6vh - 0px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    
}
.generoGeral{
    width: 100%;
    height: calc(6vh - 0px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.genero span{
    margin-left: 20px;
}

.generoGeral input{
    width: calc(10vw - 0px);
    height: calc(6vh - 0px);
    background-color:lightyellow;
    border-radius: 10px;
    border-style: none;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.macho{
    margin-left: 20px;
}

.femea{
    margin-right: 20px;
}

.genero span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.vacinado{
    width: 100%;
    height: calc(6vh - 0px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    
}
.vacinadoGeral{
    width: 100%;
    height: calc(6vh - 0px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vacinado span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    margin-left: 20px;
}

.vacinadoGeral input{
    width: calc(10vw - 0px);
    height: calc(6vh - 0px);
    background-color:lightyellow;
    border-radius: 10px;
    border-style: none;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.sim{
    margin-left: 20px;
}

.nao{
    margin-right: 20px;
}

.nomeDois{
    width: calc(20vw - 0px);
    height: calc(8vh - 0px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
    
}
.nomeDois input{
    width: calc(21vw - 0px);
    height: calc(5vh - 0px);
    border-style:none;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    padding-left: 10px;
}

.nomeDois span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.botaoMenu{
    width: calc(22vw - 0px);
    height: calc(6vh - 0px);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.botaoMenu input{
    width: calc(22vw - 0px);
    height: calc(6vh - 0px);
    border-style: none;
    border-radius:10px;
    background-color: #91f5ad;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}
